@tailwind base;
@tailwind components;
@tailwind utilities;



.canvas-rectangle {
  position: absolute;
  top: 200px;
  left: calc(50% - 350px);
  width: 700px; /* Set your desired width */
  height: 500px; /* Set your desired height */
  border: 1px solid #000; /* Set your desired border style */
  /* Add any other styles you need */
}
/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */
